@charset "utf-t";

/* 웹페이지 초기화 */
*{
    margin: 0;
    padding: 0;
    font-family: 'ga';
    margin: 0 auto;
}
/* 눈누사이트 폰트 */
@font-face {
    font-family: 'ga';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
}

/* 헤더  */
.navigation{
    width: 80%;
    height: 80px;
    position: relative;
}

h1{
    font-size: 44px;
    text-align: center;
    margin-top: 50px;
}
h1 > span{
    font-size: 16px;
    font-weight: lighter;
    color: rgb(151, 158, 163);
}


