@charset "utf-8";
/* 폰트 눈누 적용 */
@font-face {
    font-family: 'CookieRun';
    src: url('../../resources/Jaeheon/fonts/CookieRun\ Bold.ttf');
}
*{
    font-family: 'CookieRun';
}

a{
    text-decoration: none;
}

i{
    margin-right: 20px;
}


.form-center{
    margin: 0 auto;
    width: 40vw;
}

.navigation{
    position: relative;
    margin: 0 auto;
    width: 80vw;
    height: 70px;
    z-index: 100;
}

.navigation img {
    font-size: 30px;
    margin-right: 15px;
    vertical-align: middle;
}


.collapse>a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.collapse>a:hover{
    text-decoration: none;
    font-weight: bold;
    color: red;
    transition: all 1s;
}

.btn{
    width: 50%;
}

.form-inline{
    float: right;
}

#bodywrap{
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    width: 80vw;
    height: 730px;
}

footer{
    position: relative;
    z-index: 99;
    margin: 0 auto;
    margin-top: 30px;
    width: 80vw;
    height: 100px;
    background-color: white;
}

.ftcontent{
    width: 80vw;
    height: 50px;
}

.ftmenu>ul>li{
    float: left;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin-right: 5vw;
    margin-top: 1vw;
}

.ftmenu>ul>li>a{
    color: black;
}

.ftmenu>ul>li>a:hover{
    text-decoration: none;
    color: blue;
}

.copy{
    text-align: center;
    color: black;
    width: 80vw;
    height: 50px;
}


